<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>admins page</title>
</head>
<body>
    <section class="block block--primary">
        <h2 class="heading">posts</h2>
        <div class="line line-black"></div>
        <div class="postsTable">
            <table>
                <thead>
                    <tr>
                        <th>post id</th>
                        <th>author username</th>
                        <th>author phonenumber</th>
                        <th>author address</th>
                        <th>name</th>
                        <th>description</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(post => {%>
                        <tr>
                            <td><%= post._id %></td>
                            <td><%= post.authorUsername %></td>
                            <td><%= post.authorPhoneNumber %></td>
                            <td><%= post.authorAddress %></td>
                            <td><%= post.name %></td>
                            <td><%= post.description %></td>
                            <td><%= post.date.toDateString() %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </section>
    <section class="fade1"></section>

    <section class="block block--secondary">
        <h2 class="heading">accounts</h2>
        <div class="line line-black"></div>
        <div class="postsTable">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>username</th>
                        <th>phonenumber</th>
                        <th>email</th>
                        <th>address</th>
                        <th>num of donations</th>
                        <th>city</th>
                    </tr>
                </thead>
                <tbody>
                    <% accounts.forEach(account => {%>
                        <tr>
                            <td><%= account._id %></td>
                            <td><%= account.name %></td>
                            <td><%= account.username %></td>
                            <td><%= account.phoneNumber %></td>
                            <td><%= account.email %></td>
                            <td><%= account.address %></td>
                            <td><%= account.numberOfDonation %></td>
                            <td><%= account.city %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </section>

    <section class="fade2"></section>

    <section id="management" class="block block--primary">
        <h2 class="heading">management</h2>
        <div class="line line-black"></div>
        <div class="managementForm__posts">
            <form action="/admins?_method=DELETE" method="POST">
                <div class="managementForm flex flex-column">
                    <h3 class="margin">to delete a post or an account please pass the id down here : </h3>
                    <p class="msg"><%= msg %></p>
                    <p class="msg"><%= err %></p>
                    <div class="margin flex flex-row">
                        <div class="flex flex-row profile__form margin">
                            <label for="id">id : </label>
                            <input class="inputs" type="text" name="id" id="id" required>
                        </div>
                        <button type="submit"class="submitForm margin">delete</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <span class="span flex flex-row">
        <a href="/"><img src="/imgs/home (1).png" alt=""></a>
    </span>
</body>
</html>